<h1 mat-dialog-title>Calificaciones</h1>
<div mat-dialog-content>
  <p>Por favor seleccione la calificación asignada para cada criterio</p>
  <mat-form-field class="full-width-input" *ngFor="let criterio of data.criterios; index as i"  >
    <mat-select  [(ngModel)]="data.respuestasCriterios[i]" required >
      <mat-option>{{criterio}}  </mat-option>
      <mat-option value="0">1</mat-option>
      <mat-option value="1">2</mat-option>
      <mat-option value="2">3</mat-option>
      <mat-option value="3">4</mat-option>
      <mat-option value="4">5</mat-option>
      <mat-option value="5">6</mat-option>
      <mat-option value="6">7</mat-option>
      <mat-option value="7">8</mat-option>
      <mat-option value="8">9</mat-option>
      <mat-option value="9">10</mat-option>
    </mat-select>
    <mat-label> {{criterio}} </mat-label>
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Calificar</button>
</div>