<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/admin']"  href="">App Red Valor Compartido</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['incribirUsuarios']" href="">Registro usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   href="">Cerrar sesion</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
