<div class="content">
  <mat-card>
    <mat-card-title>
      Agenda
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="calendario" class="mat-elevation-z8">

        <ng-container matColumnDef="horario">
          <th mat-header-cell *matHeaderCellDef> Hororario </th>
          <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
