<div class="content" >
  <mat-card *ngIf="enaviarIdea == false">
      <mat-card-title>
        NUEVA IDEA
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Titulo idea" formControlName="nameIdea" required>
            <mat-error *ngIf="isFieldInvalid('nameIdea')">
              Por favor ingrese un nombre para su idea
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <textarea matInput type="text" placeholder="Oportunidad/necesidad" formControlName="opportunity" required></textarea>
            <mat-error *ngIf="isFieldInvalid('opportunity')">
              Por favor describa la necesidad a suplir
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <textarea matInput type="text" placeholder="Descripción de la solución" formControlName="description" required></textarea>
            <mat-error *ngIf="isFieldInvalid('description')">
              Por favor describa la solucion propuesta
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
              <textarea matInput type="text" placeholder="Descripción de impacto" formControlName="impact" required></textarea>
              <mat-error *ngIf="isFieldInvalid('impact')">
                Por favor describa el impacto de la solucion propuesta
              </mat-error>
            </mat-form-field>
          <button mat-raised-button color="primary">Enviar</button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="enaviarIdea == true" >
        <mat-card-title>
          GRACIAS!
        </mat-card-title>
        <mat-card-content>
          <p> 
            Se ha almacenado correctamente tu idea, ahora los jurados pasaran a calificarla
          </p>
        </mat-card-content>
      </mat-card>
  </div>
