<h1 mat-dialog-title>Nuevo usuario</h1>
<div mat-dialog-content>
  <p>Por favor ingrese los datos del nuevo usuario</p>
  <mat-form-field>
    <mat-select [(ngModel)]="data.tipoUsuario" placeholder="Tipo usuario" required>
      <mat-option value="1">Administrador</mat-option>
      <mat-option *ngIf="data.congresos.length > 0 " value="2">Coordinador</mat-option>
      <mat-option *ngIf="data.congresos.length > 0 " value="3">Usuario final</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Nombre completo" [(ngModel)]="data.nombre" required>
    <mat-error *ngIf="data.nombre.trim() == '' ">
      Por favor ingrese un nombre para el nuevo usuario
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Numero de identificacion" [(ngModel)]="data.identificacion" required>
    <mat-error *ngIf="data.identificacion.trim() == '' ">
      Por favor ingrese un numero de identificacion del usuario
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Correo" [(ngModel)]="data.correo" required>
    <mat-error *ngIf="data.correo.trim() == '' ">
      Por favor ingrese un correo del usuario
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="data.congresos.length > 0 && data.tipoUsuario != '1'">
    <mat-select [(ngModel)]="data.idCongreso" (selectionChange)="obtenerLaboratorios()" placeholder="Congreso a agregar"
      required>
      <mat-option *ngFor="let congreso of data.congresos; index as i" value="{{i+1}}"> {{ congreso.nombre_congreso }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="laboratorios.length > 0 && data.tipoUsuario === '3'">
    <mat-select [(ngModel)]="data.laboratorio" placeholder="Laboratorio">
      <mat-option *ngFor="let laboratorio of laboratorios; index as i" value="{{i+1}}"> {{ laboratorio.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="laboratorios.length > 0 && data.tipoUsuario === '3'">
    <mat-select [(ngModel)]="data.grupo" placeholder="Grupo">
      <mat-option value="A">A</mat-option>
      <mat-option value="B">B</mat-option>
      <mat-option value="C">C</mat-option>
      <mat-option value="D">D</mat-option>
      <mat-option value="E">E</mat-option>
      <mat-option value="F">F</mat-option>
      <mat-option value="G">G</mat-option>
      <mat-option value="H">H</mat-option>
      <mat-option value="I">I</mat-option>
      <mat-option value="J">J</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Enviar</button>
</div>
