<div class="content" *ngIf="informacionCongresos.length > 0">

  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <button (click)="abrirDialogoNuevoCongreso()" class="btn btn-primary btn-block">
        Crear nuevo congreso
      </button>
    </div>
  </div>
  <br>

  <ngb-tabset>
    <ngb-tab *ngFor="let congresoActivo of informacionCongresos; index as indiceCongreso" title="{{ congresoActivo['nombre_congreso'] }}">
      <ng-template ngbTabContent>
        <div class="content">
          <div class="jumbotron text-center">
            <h3>Bienvenidos al panel de administracion</h3>
            <p> </p>

            <div class="container">
              <h4>
                Informacion app
              </h4>
              <br>
              <div class="row">
                <div class="col-sm">
                  <table class="table">
                    <tr>
                      <td>
                        <strong>
                          Rondas de inversion
                        </strong>
                      </td>
                      <td>
                        {{ appService.getRondasInversion( indiceCongreso + 1 ).length }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>
                          Ronda inversion actual
                        </strong>
                      </td>
                      <td>
                        {{ this.appService.getInformacionCongreso(indiceCongreso + 1)['ronda_inversion_actual'] }}
                      </td>
                    </tr>
                  </table>
                  <table class="table">
                    <tr>
                      <td>
                        <button class="btn btn-primary" (click)="visualizarGanadores(indiceCongreso)">
                          Visualizar resultados
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-primary" (click)="publicarResultados(indiceCongreso)" [disabled]="!visualizarBotonGanadores">
                          Publicar resultados
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-primary" (click)="cerrarRondaInversion(indiceCongreso)" [disabled]="!permitirCerrarRondaInversion">Cerrar
                          ronda de inversion</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <p>
                    <button (click)="abrirDialogoNuevaRondaInversion( (indiceCongreso+1))" class="btn btn-primary btn-block">
                      Crear Ronda de inversion
                    </button>
                  </p>
                  <h5>
                    Rondas de inversion
                  </h5>

                  <table class="table">
                    <thead>
                      <tr>
                        <td>
                          <strong>
                            Nombre
                          </strong>
                        </td>
                        <td>
                          <strong>
                            Criterios
                          </strong>
                        </td>
                        <td>
                          <strong>
                            Numero ganadores
                          </strong>
                        </td>
                        <td>

                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rondaInversion of appService.getRondasInversion( indiceCongreso + 1 ); index as indiceRondaInversion">
                        <td>
                          {{ rondaInversion['nombre'] }}
                        </td>
                        <td>
                          {{ rondaInversion['criterios'] }}
                        </td>
                        <td>
                          {{ rondaInversion['numero_ganadores'] }}
                        </td>
                        <td>
                          <button [routerLink]="['rondaInversion',  (indiceCongreso + 1).toString() + ';' + (indiceRondaInversion+1).toString()  ]"
                            class="btn btn-primary"> Ver mas
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm">
                  <h5>
                    Calendario
                  </h5>
                  <br>
                  <p *ngIf="appService.getCalendario( indiceCongreso + 1 )[0].calendario.length == 0">
                    No hay eventos creados
                  </p>
                  <p>
                    <button [routerLink]="['calendario',  indiceCongreso + 1  ]" class="btn btn-primary btn-block">
                      Administrar eventos
                    </button>
                  </p>
                  <br>

                  <table class="table" *ngIf="appService.getCalendario( indiceCongreso + 1 )[0].calendario.length > 0">
                    <thead>
                      <tr>
                        <td>
                          <strong>
                            Horario
                          </strong>
                        </td>
                        <td>
                          <strong>
                            Descripcion
                          </strong>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let calendario of appService.getCalendario( indiceCongreso + 1 )[0].calendario; index as indiceCalendario">
                        <td>
                          {{ calendario.horario }}
                        </td>
                        <td>
                          {{ calendario.descripcion }}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-sm" *ngIf="visualizarBotonGanadores == true">
                  <h3>
                    Inversiones ganadoras
                  </h3>
                  <table class="table text-center" *ngIf="appService.getInformacionCongreso(indiceCongreso + 1)['ronda_inversion_actual'] == appService.getRondasInversion( indiceCongreso + 1 ).length;" >
                    <thead>
                      <tr>
                        <td>
                          <strong>
                            Nombre Inversion
                          </strong>
                        </td>
                        <td>
                          <strong>
                            Calificación promedio
                          </strong>
                        </td>
                        <td>
                          <strong>
                            Clasificación
                          </strong>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ideaGanadoraCongreso of informacionCongresos[indiceCongreso]['calificacion']; index as i">
                        <td>
                          {{ ideaGanadoraCongreso['descripcion'] }}
                        </td>
                        <td>
                          {{ ideaGanadoraCongreso['calificacion_final_ronda_' +
                          appService.getInformacionCongreso(indiceCongreso + 1)['ronda_inversion_actual'] ] }}
                        </td>
                        <td>
                          {{ (i+1) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngIf="informacionCongresos[indiceCongreso]['calificacion'] != undefined && appService.getInformacionCongreso(indiceCongreso + 1)['ronda_inversion_actual'] < appService.getRondasInversion( indiceCongreso + 1 ).length ">
                    <ngb-panel *ngFor="let tematica of this.appService.getLaboratorios(indiceCongreso+1); let indexTematicas = index"
                      title="{{ tematica['descripcion'] }}">
                      <ng-template *ngIf="informacionCongresos[indiceCongreso]['calificacion'] != undefined"
                        ngbPanelContent>
                        <!--
                        <p *ngIf="podiumRondaInversion[indexTematicas].length == 0">
                          No hay suficientes ideas para calificar asociadas a esta tematica
                        </p>
                        -->
                        <table class="table text-center">
                          <thead>
                            <tr>
                              <td>
                                <strong>
                                  Nombre Inversion
                                </strong>
                              </td>
                              <td>
                                <strong>
                                  Calificación promedio
                                </strong>
                              </td>
                              <td>
                                <strong>
                                  Clasificación
                                </strong>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let ideaGanadoraCongreso of informacionCongresos[indiceCongreso]['calificacion'] [indexTematicas] ; index as i">
                              <td>
                                {{ ideaGanadoraCongreso['descripcion'] }}
                              </td>
                              <td>
                                {{ ideaGanadoraCongreso['calificacion_final_ronda_' +
                                appService.getInformacionCongreso(indiceCongreso + 1)['ronda_inversion_actual'] ] }}
                              </td>
                              <td>
                                {{ (i+1) }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>
                <div class="col-sm">
                  <h3 class="align-self-center">
                    Inversores ganadores
                  </h3>
                  <table class="table text-center align-self-center" *ngIf="appService.getInformacionCongreso(indiceCongreso + 1)['ronda_inversion_actual'] > 1 && this.informacionCongresos[indiceCongreso]['ganadores'] != undefined; else elseBlock">
                    <thead>
                      <tr>
                        <td>
                          <strong>
                            Nombre Inversor
                          </strong>
                        </td>
                        <td>
                          <strong>
                            Valor de inversion total
                          </strong>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ganador of this.informacionCongresos[indiceCongreso]['ganadores']; index as i">
                        <td>
                          {{ ganador['nombre'] }}
                        </td>
                        <td>
                          {{ ganador['valorTotalInversion' ] }}
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <ng-template #elseBlock>
                    <p>
                      Aun nos encontramos en la primera ronda de inversion por lo cual no hay inversores
                    </p>
                  </ng-template>
                </div>
              </div>

            </div>

          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="content" *ngIf="informacionCongresos.length === 0">
  <br>
  <div class="jumbotron text-center ">
    <h3>Ops, No hay congresos creados</h3>
    <p> Parece que no has creado ningun congreso </p>
    <br>
    <button (click)="abrirDialogoNuevoCongreso()" class="btn btn-primary btn-block">
      Crear nuevo congreso
    </button>
    <br>
  </div>
</div>
