<div class="content" *ngIf="rondasInversion.length > 0">
<mat-accordion>
    <mat-expansion-panel *ngFor="let tematica of tematicas; index as iTematica"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Opciones de inversión: {{ tematica['nombre'] }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-tab-group *ngIf="datosDisponiblesRondasInversion" >
        <mat-tab *ngFor="let ronda of tematica['rondas_inversion']; index as i"  label="Ronda {{ ronda['nombre_ri'] }}  ">


          <div class="jumbotron" *ngIf=" ( ronda['inversiones'] ).length === 0  ">
            <h4>
              No se han cargado inversiones a esta área de inversión
            </h4>
            <button class="btn btn-primary" *ngIf="usuarioCoordinador"> Nueva inversion</button>
          </div>


          <table mat-table [dataSource]="ronda['inversiones']" *ngIf=" ( ronda['inversiones'] ).length > 0"  class="mat-elevation-z8"  >
            <ng-container matColumnDef="nombreInversion">
              <th mat-header-cell *matHeaderCellDef> Inversiones
              </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreInversion}} </td>
            </ng-container>

            <ng-container matColumnDef="impact">
              <th mat-header-cell *matHeaderCellDef> Impacto </th>
              <td mat-cell *matCellDef="let element"> {{element.impact}} </td>
            </ng-container>

            <ng-container matColumnDef="opportunity">
                <th mat-header-cell *matHeaderCellDef> Oportunidad </th>
                <td mat-cell *matCellDef="let element"> {{element.opportunity}} </td>
              </ng-container>

            <ng-container matColumnDef="investmentPoints" *ngIf="this.informacionApp['ronda_inversion_actual'] > 1 && usuarioFinal" >
              <th mat-header-cell *matHeaderCellDef> Puntos a invertir </th>
              <td mat-cell *matCellDef="let element; let indiceInversion = index">
                <p *ngIf="  puntosDisponibles === 0  " >No tiene puntos disponibles</p>
                <mat-form-field *ngIf="  i > 0 && puntosDisponibles > 0">
                  <input matInput placeholder="Puntos a invertir" [(ngModel)]="valorInversiones[iTematica][i][indiceInversion] ">
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions" *ngIf="this.informacionApp['ronda_inversion_actual'] > 1 || usuarioCoordinador" >
              <th mat-header-cell *matHeaderCellDef>
                <button *ngIf="usuarioCoordinador"  class="btn btn-primary" [routerLink]="['../nuevaOpcionInversion', i]"> Nueva inversion</button>
              </th>
              <td mat-cell *matCellDef="let element; let indiceInversion = index">
                <button class="btn btn-primary" (click)="openDialog( element  )" *ngIf="usuarioCoordinador">Calificar idea</button>
                <button class="btn btn-primary" (click)="invertir( iTematica, i, indiceInversion,element.id_grupo,element.inversores)" *ngIf="usuarioFinal && calificada == false && i > 0 && puntosDisponibles > 0">Invertir</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-tab>

        <mat-tab label="Resultados">


            <mat-card style="float: left">
                <mat-card-title>
                    Criterios de evaluación
                </mat-card-title>
              <mat-card-content>
                  <p>
                    Estos son los criterios bajo los cuales se estan evaluando las ideas
                  </p>
                  <table mat-table [dataSource]="rondaInversionActual.criterios"  class="mat-elevation-z8"  *ngIf="datosDisponiblesRondasInversion">
                      <ng-container matColumnDef="criterioEvaluacion">
                        <th mat-header-cell *matHeaderCellDef> Criterios evaluacion </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsResults"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsResults;"></tr>
                    </table>
              </mat-card-content>
            </mat-card>

            <mat-card style="float: left">
                <mat-card-title>
                    Ranking de ideas
                </mat-card-title>
              <mat-card-content>
                <p *ngIf="rondaEvaluada == false" >
                  Aún no se han calificado las ideas presentadas, por favor revisa mas tarde
                </p>

                <p *ngIf="rondaEvaluada == true">
                  Estas son las ideas mejor calificadas hasta el momento:
                </p>

                <table mat-table [dataSource]="rondaInversionActual.ganadores"  class="mat-elevation-z8"  *ngIf="datosDisponiblesRondasInversion && rondaEvaluada">
                  <ng-container matColumnDef="nombreInversion">
                    <th mat-header-cell *matHeaderCellDef> Nombre inversion </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreInversion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="calificacionPromedio">
                    <th mat-header-cell *matHeaderCellDef> Calificación promedio </th>
                    <td mat-cell *matCellDef="let element"> {{element['calificacion_final_ronda_' + this.informacionApp['ronda_inversion_actual']] }} </td>
                  </ng-container>
                  <ng-container matColumnDef="clasificacion">
                    <th mat-header-cell *matHeaderCellDef> Clasificación </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRankingIdeas"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRankingIdeas;"></tr>
                </table>

              </mat-card-content>
            </mat-card>
            <mat-card style="float: left">
                <mat-card-title>
                    Ranking de inversores
                </mat-card-title>
              <mat-card-content>
                <p *ngIf="rondaEvaluada == false" >
                  Aún no se han calificado las ideas presentadas, por favor revisa mas tarde
                </p>

                <p *ngIf="rondaEvaluada == true">
                  Estas son los inversores mejor clasificados hasta el momento:
                </p>

                <table mat-table [dataSource]="rondaInversionActual.inversoresGanadores"  class="mat-elevation-z8"  *ngIf="datosDisponiblesRondasInversion">
                  <ng-container matColumnDef="nombreInversor">
                    <th mat-header-cell *matHeaderCellDef> Nombre inversor </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>
                  <ng-container matColumnDef="valorTotalInversion">
                    <th mat-header-cell *matHeaderCellDef> Valor total invertido </th>
                    <td mat-cell *matCellDef="let element"> {{ element.valorTotalInversion  }} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRankingInversores"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRankingInversores;"></tr>
                </table>
              </mat-card-content>
            </mat-card>
        </mat-tab>

      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="content" *ngIf="rondasInversion.length == 0">
  <div class="jumbotron">
    <h3>
      No hay rondas de inversion registradas 
    </h3>
  </div>
</div>