<div class="content">
    <mat-card *ngIf="enviarOpcionInversion == false" >
      <mat-card-title>
        NUEVA OPCION DE INVERSION
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Nombre inversion" formControlName="nameIdea" required>
            <mat-error *ngIf="isFieldInvalid('nameIdea')">
              Por favor ingrese un nombre para la opcion de inverion
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <textarea matInput type="text" placeholder="Oportunidad/necesidad" formControlName="opportunity" required></textarea>
            <mat-error *ngIf="isFieldInvalid('opportunity')">
              Por favor describa la necesidad a suplir
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <textarea matInput type="text" placeholder="Descripción de la solución" formControlName="description" required></textarea>
            <mat-error *ngIf="isFieldInvalid('description')">
              Por favor describa la solucion propuesta
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
              <textarea matInput type="text" placeholder="Descripción de impacto" formControlName="impact" required></textarea>
              <mat-error *ngIf="isFieldInvalid('impact')">
                Por favor describa el impacto de la solucion propuesta
              </mat-error>
            </mat-form-field>
            <!--
            <mat-form-field class="full-width-input">
              <mat-select formControlName="areaInversion" required >
                <mat-option>Selecione un area de inversion</mat-option>
                <mat-option *ngFor="let tematica of tematicas; index as i"  value="{{ tematica }}">{{ tematica }}</mat-option>
              </mat-select>
              <mat-label> Seleccione un area de inversion </mat-label>
            </mat-form-field>
            -->
          <button mat-raised-button color="primary">Enviar</button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="enviarOpcionInversion == true" >
        <mat-card-title>
          GRACIAS!
        </mat-card-title>
        <mat-card-content>
          <p> 
            Se ha almacenado correctamente la opcion de inversion, podras revisarla en tu panel de inversiones
          </p>
        </mat-card-content>
      </mat-card>
  </div>
