<div class="container" *ngIf="informacionLista">
  <div class="row">
    <h2 class="text-center"> Nombre ronda de inversion: {{ infoRondaInversion['nombre'] }} </h2>
  </div>
  <div class="row">
    <p class="text-center">
      Numero de ganadores: {{ infoRondaInversion['numero_ganadores'] }}
    </p>
  </div>
    <div class="row">
        <div class="col-sm text-center">
            <h4>
              Criterios de evaluacion
            </h4>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Nombre criterio
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let criterio of infoRondaInversion['criterios']">
                  <td>
                    {{ criterio }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-primary" (click)="openDialog()" >
                      Agregar criterio
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-sm text-center">
            <h4>
              Ganadores
            </h4>
            <div class="jumbotron" *ngIf=" infoRondaInversion['ganadores'] == undefined" >
              <h4>
                Aun no se han calificado esta ronda de inversion
              </h4>
            </div>
            <table class="table text-center" *ngIf=" infoRondaInversion['ganadores'] != undefined">
                <thead>
                    <tr>
                        <td>
                            <strong>
                                    Nombre Inversion
                            </strong>
                        </td>
                        <td>
                            <strong>
                                    Calificación promedio
                            </strong>
                        </td>
                        <td>
                            <strong>
                                    Clasificación
                            </strong>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ganador of infoRondaInversion['ganadores']; index as i">
                        <td>
                            {{ ganador['nombreInversion'] }}
                        </td>
                        <td>
                            {{ ganador['calificacion_final_ronda_' + rondaInversionEvaluar ] }}
                        </td>
                        <td>
                            {{ (i+1) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>
