<h1 mat-dialog-title>Selecciona tu grupo</h1>
<div mat-dialog-content>
  <p>Por favor seleccione el grupo al que quieres perteneces</p>
  <mat-form-field class="full-width-input">
        <mat-select  [(ngModel)]="data.animal" required >
          <mat-option>Selecione un grupo</mat-option>
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>
          <mat-option value="D">D</mat-option>
          <mat-option value="E">E</mat-option>
          <mat-option value="F">F</mat-option>
          <mat-option value="G">G</mat-option>
          <mat-option value="H">H</mat-option>
          <mat-option value="I">I</mat-option>
          <mat-option value="J">J</mat-option>
        </mat-select>
        <mat-label> Seleccione un grupo </mat-label>
      </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Agregar</button>
</div>