<div class="content">
  <mat-card>
    <mat-card-title>
      Laboratorios
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="laboratorios" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let element; let i = index">

            <button mat-raised-button *ngIf="laboratorio === 'vacio' " (click)="entrarAlLaboratorio( i )" color="primary">Ingresar
              al laboratorio</button>
            <button mat-raised-button *ngIf="laboratorio !== 'vacio' && grupo === 'vacio' && laboratorio === i.toString()  "
              (click)="openDialog()" color="primary">Ingresar al grupo</button>
            <button mat-raised-button *ngIf="laboratorio !== 'vacio' && grupo !== 'vacio' && ideaEnviada == false  && (laboratorio-1) === i"
              (click)="entrarAlGrupo()" color="primary">Crear idea</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsLabs"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLabs; "></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
