<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list *ngIf="tipoUsuario === '3'">
      <a mat-list-item [routerLink]="['']" href="">Perfil</a>
      <a mat-list-item [routerLink]="['/schedule']" href="">Agenda</a>
      <a mat-list-item [routerLink]="['/labs']" href="">Laboratorios</a>
      <a mat-list-item [routerLink]="['/investment']" href="">Inversiones</a>
      <a mat-list-item (click)="cerrarSesion()"> Cerrar sesion </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="tipoUsuario === '2'">
      <a mat-list-item [routerLink]="['']" href="">Perfil</a>
      <a mat-list-item [routerLink]="['inversiones']" href="">Inversiones</a>
      <a mat-list-item (click)="cerrarSesion()"> Cerrar sesion </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> {{ nombreCongreso }} </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
