<div class="container-fluid">
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <button (click)="crearUsuario()" class="btn btn-outline-warning btn-block">
        Crear nuevo usuario
      </button>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="colum-sm">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Usuarios registrados </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <strong>
                      Identificacíon
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Correo
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Nombre
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Grupo
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Laboratorio
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Tipo usuario
                    </strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios | async | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>
                    {{usuario.id}}
                  </td>
                  <td>
                    {{usuario.correo}}
                  </td>
                  <td>
                    {{usuario.nombre}}
                  </td>
                  <td>
                    {{usuario.grupo}}
                  </td>
                  <td>
                    {{ usuario.laboratorio}}
                  </td>
                  <td *ngIf="usuario.tipo_usuario == '1'">
                    Administrador
                  </td>
                  <td *ngIf="usuario.tipo_usuario == '2'">
                    Coordinador
                  </td>
                  <td *ngIf="usuario.tipo_usuario == '3'">
                    Usuario final
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
