<div class="content">
  <mat-card>
      <mat-card-title>
        Perfil
      </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <p>
                    <strong> Ronda de inversión actual: </strong>  {{ appInfo }}
                </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="appInfo > 1" >
                <p>
                    <strong> Puntos disponibles: </strong>  {{ usuario.puntos_disponibles }}
                </p>
            </mat-list-item>
            <mat-divider *ngIf="appInfo > 1"></mat-divider>
            <mat-list-item>
              <p>
                <strong>Correo:</strong> {{ email }}
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="laboratorio === 'vacio'">
                <strong> Laboratorio: </strong> no asignado
            </mat-list-item>
            <mat-list-item *ngIf="laboratorio !== 'vacio'">
                <strong> Laboratorio: </strong> laboratorio {{laboratorio}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="grupo === 'vacio'">
                <strong> Grupo: </strong> no asignado
            </mat-list-item>
            <mat-list-item *ngIf="grupo !== 'vacio'">
                <strong> Grupo: </strong> Grupo {{ grupo }}
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="content-chart">
    <mat-card>
        <mat-card-content>
            <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
        </mat-card-content>
    </mat-card>
</div>