<h1 mat-dialog-title>Nuevo congreso</h1>
<div mat-dialog-content>
  <p>Por favor ingrese los datos del nuevo congreso</p>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Nombre congreso" [(ngModel)]="data.nombreNuevoCongreso" required>
    <mat-error *ngIf="data.nombreNuevoCongreso.trim() == '' ">
      Por favor ingrese un nombre para el nuevo congreso
    </mat-error>
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Enviar</button>
</div>