<div class="container-fluid">

    <div class="row justify-content-center">
      <div class="colum-sm">
        <div class="card"  >
          <div class="card-header">
            <h5 class="card-title">Administrar eventos </h5>
          </div>
          <div class="card-body">
            <div>
              <button (click)="abrirDialogoNuevoEvento()" class="btn btn-primary btn-block"> 
                Agregar evento
              </button>
            </div>
            <br>
            <br>
            <div class="jumbotron" *ngIf="informacionCalendario.length == 0">
              <h3>
                No hay eventos creados
              </h3>
            </div>
            <div class="table-responsive" *ngIf="informacionCalendario.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <strong>
                        Horario
                      </strong>
                    </td>
                    <td>
                      <strong>
                        Descripcion
                      </strong>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let evento of informacionCalendario | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>
                      {{ evento.horario }}
                    </td>
                    <td>
                      {{ evento.descripcion }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br >
  </div>